assignment1/__pycache__
assignment1/.ipynb_checkpoints/
proj4/all_breakdown.csv
proj4/housing.data.txt
proj5/iris.csv
proj5/faults.csv
proj5/*.png
proj6/iris.csv
proj6/*.png
proj7/t10k-images-idx3-ubyte
proj7/t10k-labels-idx1-ubyte
proj7/train-images-idx3-ubyte
proj7/train-labels-idx1-ubyte